First KEy=blah blah
global{
Value=true
Value Two = 12345
# This has got lots of text here
# Make sure you keep it in quotes!
Multiline'd Value=`Hello,
This is a long string
that spans many lines`
myscope
{
	"Quoted Value"=12345
	nested scope
	{
		Value with Equals Sign==Yes
	}
}
"Value=3"=
			Hello World!
			#Comment
ArrayValue[One, "Three and Four]]]",
			  Three and Four , "end []",
			  Last value]
AnArray=[String]
NotArray="[String]"
}

ValueAfterLastScopeEnds=Blah blah